body {
  background-color: #262626; }

.ui.container {
  width: 100%;
  height: 100%; }

.window-manager {
  height: 100%; }

/* MENUBAR */
/* ------------------------------------------- */
.menubar {
  height: 60px;
  background-color: teal; }

.ui.horizontal.list.menu-bar {
  display: inline-block;
  margin: 10px;
  width: 90%;
  height: 90%; }

.ui.button.back {
  float: left;
  width: auto;
  height: auto; }

.button.export {
  float: left;
  margin: 0 0 0 33.1%; }

.player-view {
  width: auto;
  float: left;
  margin: 0 0 0 3%; }

.button.record {
  float: left;
  margin: 0 0 0 3%; }

.button.clear {
  float: left;
  margin: 0 0 0 0.2%; }

.user-info-bar {
  width: 15%;
  float: right; }
  .user-info-bar .ui.button {
    width: auto;
    float: right;
    font-size: 15px; }
  .user-info-bar .username {
    float: left;
    color: white;
    margin: 3% 1% 0;
    font-size: 20px; }

.content {
  padding-top: 2%; }

/* MODAL WINDOW */
/* ------------------------------------------- */
.ui.modal.message {
  width: 400px;
  height: auto;
  padding: 1%; }
  .ui.modal.message p {
    margin: 0 auto;
    font-size: 15px;
    display: inline-block; }
  .ui.modal.message .button-group {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    height: auto; }

.ui.modal.user-registration {
  width: 350px;
  height: 230px; }

.buttons-registration {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%; }

.ui.modal.user-registration .button {
  font-size: 15px;
  display: block;
  margin: 5% auto;
  width: auto;
  height: auto; }

/* PROJECT LIST VIEW */
/* ------------------------------------------- */
.project-list {
  margin: 1% 10%; }
  .project-list h1 {
    color: white;
    margin: 2% 0 0 0; }
  .project-list .column .name {
    float: left;
    color: white;
    font-size: 22px;
    vertical-align: middle;
    width: 60%; }
  .project-list .ui.grid {
    margin: 3%; }
  .project-list .circular.ui.icon.button.delete {
    margin: 0 10% 0;
    float: right; }
  .project-list .circular.ui.icon.button.delete i {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    height: auto; }

.circular.ui.icon.button.add-project {
  display: block;
  margin: 3% auto;
  width: 40px;
  height: 40px; }
  .circular.ui.icon.button.add-project i {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto; }

/* TRACK LIST VIEW */
/* ------------------------------------------- */
.track-list-view {
  display: block;
  margin: 1% 10%;
  width: 80%;
  height: 80%; }
  .track-list-view .project-name-editor {
    width: auto; }
  .track-list-view .project-name-editor input[type="text"], .track-list-view textarea {
    width: 30%;
    color: white;
    background-color: #2f2f2f; }
  .track-list-view .project-name {
    display: inline-block;
    margin: 1% 0 2% 0;
    width: auto;
    height: auto;
    color: white;
    font-size: 25px;
    text-align: center; }

.track-list {
  display: block;
  margin: 0 10% 10% 15%;
  width: auto;
  height: auto; }
  .track-list div[class^='track-'] {
    display: inline-block;
    margin: 0 0 2% 0;
    width: 100%;
    height: 60px; }
  .track-list .circular.ui.icon.button.delete {
    float: right;
    width: 30px;
    height: 30px; }

.circular.ui.icon.button.add-track {
  display: inline-block;
  margin: 3% 10% 0 10%;
  width: 40px;
  height: 40px; }

.track-data-view {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  float: left;
  background-color: #565e62; }

.track-data-view, .instrument-name {
  color: white;
  font-size: 20px;
  margin: 0 auto; }

/* TRACK VIEW */
/* ------------------------------------------- */
.track-view {
  display: block;
  margin: 3% auto;
  width: 95%;
  height: 95%; }

.wave-form {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #565e62; }

/* piano view */
.piano {
  margin: 5% 0;
  height: 220px;
  float: left; }

.keys {
  width: 100%;
  position: relative;
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */ }
  .keys .key {
    position: absolute;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
    background-color: #ffffff;
    z-index: 0;
    width: 40px;
    height: 200px; }

.key-content {
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px; }

.key-content label {
  text-align: center; }
  .key-content label .note {
    margin-bottom: 40px; }
  .key-content label .keyboard {
    margin-top: 10px; }

.piano .octaves {
  display: block;
  margin: 30% 0;
  width: auto;
  height: auto;
  position: absolute; }

.piano .octave-label {
  float: left;
  color: white;
  margin: 1% 0;
  font-size: 20px; }

.piano .octave-range {
  float: right;
  width: 40%; }
  .piano .octave-range .ui.dropdown {
    width: 10%; }

/* drum view */
.instrument-view .ui.grid.drum .column {
  display: block;
  margin: 1%;
  width: 48%;
  height: 48%;
  background-color: #565e62; }

.grid.drum {
  display: block;
  margin: 5% auto;
  width: auto;
  height: auto; }
  .grid.drum img.ui.image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto; }
  .grid.drum .column .keys {
    display: inline-block;
    margin: 0 0 5% 0;
    width: 100%;
    height: 100%; }
  .grid.drum .column .keys div {
    display: block;
    margin: 0 2.5% 0 2.5%;
    width: 45%;
    height: 45%;
    padding: 2%;
    float: left;
    font-size: 20px;
    background-color: #656e73; }

.ui.attached.tabular.menu .item.active {
  background-color: white; }

.ui.attached.tabular.menu .item {
  background-color: #ebebeb; }

.track-view .ui.grid.setting .column {
  margin: 1% 0; }

.track-view .ui.grid.setting .column-range {
  display: inline-block;
  margin: 1% auto;
  width: auto;
  height: auto; }
  .track-view .ui.grid.setting .column-range div .ui.label {
    width: 50px;
    background-color: white; }

.track-view .ui.grid.filter {
  margin: 1% 0; }
  .track-view .ui.grid.filter .column div[class^="item-"] {
    margin: 0 0 5% 0; }
  .track-view .ui.grid.filter .column div[class^="filter-setting-"] {
    padding: 2%;
    margin: 2% 0;
    background-color: #f8f8f8; }

input {
  width: 300px;
  min-width: 100px; }
